.container{
	
	background-color: greenyellow;
}
.row{
	border: 0px solid red;
}
body{
	background: grey;
}
.col{
	border: 0px solid green;
}
#header{
	background: orange;
}
#menu{
	background: white;

}
#content{
	background: grey;
}
#sidebar{
	background: yellow;
}
#web{
	background: green;
}