.container{
	
border:2px solid black;
}
.row{
	border: 0px solid red;
}
.col{
	border: 2px solid blue;
}
.green{
	background: green;
}
.grey{
	background: grey;
}
.orange{
 background: orange;
}
.yellow{
	background: yellow;
}

